body {
    background:url(../images/bg.png);
}

footer {
    position: inherit;
    bottom:0;
    width:100%;
}

.tabbable{
    background-color:transparent;
}

.nav > li.custom > a:hover,
.nav > li.custom > a:focus {
    background-color: transparent;
}

#btn-cadastro {
    background-color: #ea526f;
    border-color: #ea526f;
}

#btn-cadastro:hover,
#btn-cadastro:focus,
#btn-cadastro.focus,
#btn-cadastro:active {
    background-color: #E81740;
    border-color: #E81740;
}

table {

}

.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #66C0CC;
}

.table-striped>tbody>tr >td {
    background-color: #E57289
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo{
    text-align: center;
}

footer{
    text-align: center;
    background: #006699;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 2%;
    color:#ffffff;
    position:absolute;
    bottom:0;
    width:100%;
}