<header>
  <!--<div class="row">-->
  <div class="row">
    <div role="main" class="col-md-6">
      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="inputEmail">Login</label>
          <div class="controls">
            <input id="inputEmail" type="text" class="form-control col-lg-4"
                   placeholder="Digite o seu e-mail..."/>
          </div>
        </div>
        </br></br></br>

        <div class="control-group">
          <label class="control-label" for="inputPassword">Senha</label>
          <div class="controls">
            <input id="inputPassword" type="password" class="form-control col-lg-4"
                   placeholder="Digite a sua senha..."/>
          </div>

        </div>
        </br></br></br>
        <div class="control-group">
          <div class="controls">
            <a ng-href="#/home">
              <button ng-click="loginCtrl.loginOnSystem()" id="btn-acesso" class="btn btn-success" type="submit">
                Acessar
              </button>
            </a>
          </div>
        </div>
      </form>
    </div>

    <div role="main" class="col-md-6">
      <img src="views/logo2.png" alt="" class="img-responsive center" width="60%">
      <h2>Conectando você ao dia-a-dia do seu bebê</h2>
    </div>
  </div>
  <div class="logo">

  </div>
  <section id="login-area">

  </section>
</header>
